#form{
    text-align: center;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form input{
    width: 350px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
}
#form option{
    width: 350px;
    height: 40px;
}
#form textarea{
    width: 350px;
    height: 80px;
}
#form button{
    width: 350px;
    height: 40px;
    color: white;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#thead{
    text-align: center;
    align-items: center;

    display: flex;
    margin-top: 50px;
}
#thead p{
    margin-left: 280px;
}